/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
    font-family: "Kiwi Maru","Noto Sans JP", Sans-serif;
    color: $cBlack;
}

// el
.el_ttl {
    padding-top: 40px;
    margin-bottom: 40px;
    transform: translateX(-25px);
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    // text-shadow: 2px 3px 3px #333;
    font-size: 4.8rem;
    &::before {
        content: url("../images/logoB.png");
        display: inline-block;
        padding-right: 10px;
        transform: translate(23%,18%) scale(0.5);
    }
}
.el_btn {
    display: inline-block;
    position: relative;
    font-family: 'Cabin Sketch', cursive;
    width: 200px;
    height: 60px;
    font-size: 4.0rem;
    background-color: #fff;
    line-height: 1.5;
    box-shadow: 0px 3px 6px #333;
    text-align: center;
    &::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: 100%;
        height: 100%;
        border: 1px solid #333;
        transition: all 0.3s ease 0s;
        opacity: 1;
    }
    &:hover::before {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
}
.hp_img_sns:hover {
    animation: ky_sns 0.5s both;
}
.hp_img_sns {
    animation: ky_sns_end 0.5s both;
}
@keyframes ky_sns {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
@keyframes ky_sns_end {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
@media (max-width: 599px) {
    .el_ttl {
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 4.0rem;
    }
    .el_btn {
        width: 150px;
        height: 45px;
        font-size: 3.2rem;
        line-height: 1.3;
    }
}
// ly_inner 
.ly_inner  {
    width: 82.5%;
    margin: 0 auto;
    max-width: 1080px;
}
@media (max-width: 599px) {
    .ly_inner  {
        width: 88%;
    }
}
// bl_nav
.bl_nav {
    margin-right: 20px;
    &_menu {
        display: flex;
        gap: 36px;
        &_li {
            & > a {
                font-family: 'Cabin Sketch', cursive;
                color: $cWhite;
                font-size: 3.0rem;
            }
        }
    }
}
// header
.ly_header {
    width: 100%;
    height: $navHeight;
    position: fixed;
    z-index: 5;
    &_inner {
        width: 94%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
}
.bl_header_logo {
    width: auto;
    height: auto;
}
@media (max-width: 959px) {
    .hp_nav_header {
        display: none;
    }
}

// main
// fv
.ly_fv {
    position: relative;
    height: 100vh;
}
.ly_fv .swiper {
    height: 100%;  
}
.ly_fv .swiper .slide-img {
    height: 100%;
}
.ly_fv .swiper img {
    height: 100%;
    object-fit: cover;
}
.ly_fv .swiper .slide-img img {
    display: block;  
}
.bl_fv_ttl {
    position: absolute;
    top: 45%;
    left: 55%;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    height: auto;
}
@media (max-width: 959px) {
    .bl_fv_ttl {
        left: 50%;
        max-width: 280px;
    }
}
@media (max-width: 599px) {
    .bl_fv_ttl {
        transform: translate(-50%,50%);
        max-width: 250px;
    }
}
// NEKONOTE
.ly_intro {
    padding-bottom: 60px;
    background-color: $cBack;
    &_inner {
        position: relative;
    }
    &_wrapper {
        text-align: center;
    }
}
.bl_intro_text {
    padding-bottom: 50px;
    line-height: 2.3;
    font-size: 2.4rem;
}
.el_img {
    position: absolute;
    right: -80px;
    & > img {
        width: 70%;
    }
}
@media (max-width: 959px) {
    .br_960 {
        display: none;
    }
    .el_img {
        position: absolute;
        right: -120px;
        & > img {
            width: 53%;
        }
    }
}
@media (max-width: 599px) {
    .bl_intro_text {
        line-height: 1.7;
        font-size: 2.0rem;
    }
    .el_img {
        position: absolute;
        right: -160px;
        & > img {
            width: 40%;
        }
    }
}
@media (max-width: 479px) {
    .el_img {
        position: absolute;
        right: -200px;
        & > img {
            width: 30%;
        }
    }
}
// works
.ly_works_inner {
    padding-bottom: 60px;
}
.bl_works {
    &_wrapper {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 0px 80px;
    }
    &_img {
        flex-basis: 50%;
        & > img {
           box-shadow: 0px 0px 6px #333; 
        }     
    }
    &_text {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        &_ttl {
            font-size: 2.4rem;
        }
    }
}
@media (max-width: 959px) {
    .bl_works {
        &_wrapper {
            flex-direction: column;
            gap: 20px;
            padding: 0px 60px;
        }
        &_text {
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            &_ttl {
                font-size: 2.4rem;
            }
            &_description {
                padding-bottom: 10px;
                line-height: 1.7;
            }
        }
    }
}

// about
.ly_about {
    padding-bottom: 60px;
    background-color: $cBack2;
    &_inner {
        position: relative;
    }
    &_wrapper {
        padding-top: 50px;
    }
}
.bl_about {
    &_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
    }
    &_li {
        display: flex;
        flex-direction: row;
        gap: 60px;
        line-height: 2.3;
        &_img {
            height: 100%;
            flex-basis: 30%;
            box-shadow: -30px -30px 0 #333;
            transform: rotate(-5deg);
        }
        &_img-2 {
            height: 100%;
            flex-basis: 30%;
            box-shadow: 30px -30px 0 #333;
            transform: rotate(5deg);
        }
        &_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            flex-basis: 70%;
            &_sns {
                display: flex;
                justify-content: space-around;
                & > img {
                    width: 80px;
                }
            }
            &_text {
                font-size: 1.8rem;
                line-height: 1.7;
            }
            &_text-2 {
                display: flex;
                flex-direction: row;
                padding-left: 60px; 
                gap: 100px;
                font-size: 1.8rem;
                line-height: 1.7;
                &_wrapper {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        &_box-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            flex-basis: 70%;
        }
    }
    &_li-2 {
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
        line-height: 2.3;
    }
}
.hp_img {
    position: absolute;
    bottom: 0;
    left: -50px;
    & > img {
        width: 23%;
    }
}
@media (max-width: 959px) {
    .bl_about {
        &_menu {
            flex-direction: column;
            justify-content: center;
            gap: 100px;
        }
        &_li {
            flex-direction: column;
            align-items: center;
            transform: translateX(5%);
            &_img {
                width: 60%;
                height: 100%;
            }
            &_img-2 {
                width: 60%;
                height: 100%;
            }
            &_box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 40px;
                flex-basis: 70%;
                &_sns {
                    display: flex;
                    justify-content: space-around;
                    & > img {
                        width: 80px;
                    }
                }
                &_text {
                    font-size: 1.8rem;
                    line-height: 1.7;
                }
                &_text-2 {
                    display: flex;
                    flex-direction: row;
                    padding-left: 0px; 
                    gap: 30px;
                    font-size: 1.8rem;
                    line-height: 1.7;
                    &_wrapper {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            &_box-2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 40px;
                flex-basis: 70%;
            }
        }
        &_li-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .hp_img {
        position: absolute;
        bottom: 0;
        left: -50px;
        & > img {
            width: 23%;
        }
    }
}
@media (max-width: 599px) {
    .bl_about {
        &_li {
            transform: translateX(6%);
            &_box {

                &_sns {
                    display: flex;
                    justify-content: space-around;
                    & > img {
                        width: 20px;
                    }
                }
                &_text-2 {
                    display: flex;
                    flex-direction: column;
                    padding-left: 0px; 
                    gap: 30px;
                    font-size: 1.8rem;
                    line-height: 1.7;
                }
            }
        }
        &_li-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .hp_img {
        position: absolute;
        bottom: 0;
        left: -30px;
        & > img {
            width: 23%;
        }
    }
}
@media (max-width: 479px) {
    .bl_about_li {
        transform: translateX(8%);
    }
    .hp_img {
        position: absolute;
        bottom: 0;
        left: -20px;
        & > img {
            width: 20%;
        }
    }
}
// possible
.ly_possible {
    &_inner {
        padding-bottom: 60px;
    }
}
.bl_possible {
    &_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;
        &_li {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            &_ttl {
                font-size: 2.8rem;
            }
        }
    }
}
@media (max-width: 959px) {
    .bl_possible {
        &_menu {
            flex-direction: column;
            justify-content: space-between;
            gap: 60px;
            &_li {
                width: 100%;
            }
        }
    }
}
@media (max-width: 599px) {
    .bl_possible {
        &_menu {
            &_li {
                &_ttl {
                    font-size: 2.4rem;
                }
            }
        }
    }
}
// price 
.ly_price  {
    &_inner {
        padding-bottom: 60px;
        position: relative;
    }
}
.bl_price_item_rule {
    &_ttl {
        font-size: 2.8rem;
    }
    &_contact {
        text-align: center;
        font-size: 2.8rem;
    }
    &_menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 40px;
        list-style-type: circle;
        &_li {
            margin-left: 60px;
            font-size: 2.0rem;
        }
    }
}
.bl_price_item {
    &_money {
        display: flex;
        flex-direction: column;
        &_ttl {
            font-size: 2.8rem;
        }
        &_almost {
            text-align: center;
        }
        &_text {
            padding-left: 40px;
            padding-top: 20px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            font-size: 2.0rem;
            &_item {
                width: 60%;
                padding-left: 20px;  
                line-height: 2.4;
            }
            &_item-2 {
                width: 40%;
                padding-left: 20px;
                padding-top: 15px;
                padding-bottom: 15px;
                border-left: 1px solid #707070;
            }
        }
    }
}
.hp_flex {
    display: flex;
    border-top: 1px solid #707070;
    &:last-child {
        border-bottom: 1px solid #707070;
    }
    &:nth-last-child(odd) {
        background-color: $cBack;
    }
}
// flow
.bl_price_item {
    &_flow {
        &_menu {
            display: flex;
            flex-direction: column;
            gap: 100px;
            &_li {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 30px;
                &_img {
                    width: 33%;
                    & > img {
                        width: 220px;
                        height: 150px;
                    }
                }
                &_wrapper {
                    width: 66%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 40px;
                }
                &_ttl {
                    font-size: 2.8rem;
                }
                &_text {
                    font-size: 2.0rem;
                }
            }
        }
    }
}
// attention
.bl_price_attention {
    margin-top: 80px;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #333;
    border-bottom: solid 2px #333;
    &::before {
        content: '';
        position: absolute;
        top: -10px;
        width: 2px;
        height: calc(100% + 20px);
        background-color: #333;
        left: 10px;
    }
    &::after {
        content: '';
        position: absolute;
        top: -10px;
        width: 2px;
        height: calc(100% + 20px);
        background-color: #333;
        right: 10px;
    }
    &_ttl {
        font-size: 2.8rem;
    }
    &_menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 60px;
        padding-top: 20px;
        padding-bottom: 40px;
        list-style-type: disc;
        &_li {
            font-size: 2.0rem;
            &_text {
                padding-top: 10px;
            }
        }
    }
}
@media (max-width: 959px) {
    .bl_price_item {
        &_flow {
            &_menu {
                gap: 100px;
                &_li {
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    gap: 30px;
                    position: relative;
                    &_img {
                        width: auto;
                        margin: 0 auto;
                        & > img {
                            width: 220px;
                            height: 150px;
                        }
                    }
                    &_wrapper {
                        width: 100%;
                    }
                    &_ttl {
                        font-size: 2.8rem;
                    }
                    &_text {
                        font-size: 2.0rem;
                    }
                }
            }
        }
    }

}
@media (max-width: 599px) {
    .bl_price_item_rule {
        &_ttl {
            font-size: 2.4rem;
        }
        &_contact {
            font-size: 2.4rem;
        }
    }
    .bl_price_item {
        &_money {
            &_ttl {
                font-size: 2.4rem;
            }
            &_text {
                font-size: 1.8rem;
            }
        }
    }
    .bl_price_item {
        &_flow {
            &_menu {
                &_li {
                    &_ttl {
                        font-size: 2.4rem;
                    }
                    &_text {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
    .bl_price_attention {
        &_menu {
            padding-left: 25px;
        }
        &_ttl {
            font-size: 2.2rem;
        }
    }
}
// contact
.ly_contact {
    padding-bottom: 60px;
    background-color: $cBack3;
}
.bl_contact {
    &_wrapper {
        display: flex;
        flex-direction: column;
    }
    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &_ttl {
            line-height: 1.4;
            font-size: 2.4rem;
        }
        &_li {
            padding-left: 40px;
        }
    }
    &_sns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        padding-top: 60px;
        & > img {
            width: 80px;
        }
    }
}
// form
.el_form {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 30px;
    &_wrapper {
        display: flex;
        flex-direction: column;
        gap: 18px;
        font-size: 1.8rem;
    }
}
input[type="text"],input[type="email"],textarea,select{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #333;
    color: #707070;
    background-color: #fff;
    cursor: pointer;
}
select {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}
textarea {
    padding-top: 13px;
}
input[type="checkbox"] {
    height: 30px;
    display: inline-block;
}
.el_form_check {
    text-align: center;
}

.hp_form_btn {
    margin: 0 auto;
    font-size: 3.2rem;
    line-height: 2;
    color: #333;
    cursor: pointer;
}
@media (max-width: 599px) {
    .hp_form_btn {
        font-size: 2.8rem;
        line-height: 1.8;
    }
}
// footer
.ly_footer {
    width: 100%;
    height: 300px;
}
.ly_footer_inner {
    position: relative;
    padding: 60px 0 0 0;
}
.bl_footer_img {
    width: 400px;
    margin: 0 auto;
    padding-top: 60px;
}
.hp_cB {
    color: #333 !important;
}
.hp_nav_footer {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.bl_copy {
    text-align: center;
    padding-top: 30px;
}
@media (max-width: 599px) {
    .bl_footer_img {
        width: 200px;
        margin: 0 auto;
        padding-top: 60px;
    }
    .hp_nav_menu_footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }
    .hp_nav_menu_li_footer {
        width: 26%;
        & > a {
            font-size: 2.0rem;
        }
    }
    .bl_footer_img {
        padding-top: 150px;
        transform: translateX(20px);
    }
    .bl_599 {
        display: none;
    }
    .bl_contact {
        &_text {
            &_li {
                padding-left: 10px;
            }
        }
        &_sns {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 40px;
            padding-top: 60px;
            & > img {
                width: 80px;
            }
        }
    }
}
// font size

.font_20px {
    font-size: 2.0rem;
}
.font_18px {
    font-size: 1.8rem;
}
.font_16px {
    font-size: 1.6rem;
}