.js_scroll_fadein {
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
    z-index: 30;
}
  
.js_scroll_fadein.is_fadein {
    visibility: visible;
    opacity: 1;
}
  
.arrow {
    position: fixed;
    right: 4%;
    bottom: 12px;
    color: #fff;
    cursor: pointer;
    background-color: $cBack;
    border-radius: 22px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
    border: solid 1px #696969;
}

.arrow:hover {
    opacity: .8;
    bottom: 15px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.arrow:before {
    content: "";
    width: 12px;
    height: 12px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: 13px;
    }

.arrow:before {
    top: 14px;
}

